<div class="container">
  <h1>Cadastro Clientes</h1>
  <div class="container">
   <form [formGroup]="formGroup" (ngSubmit)="cadastrar()">
    
     <div class="form-group">
      <label>Nome</label>
        <input type="text" class="form-control"
         name="nome" formControlName="nome" />
         <small *ngIf="formGroup.controls.nome.dirty && formGroup.controls.nome.errors" id="emailHelp" class="form-text text-muted">Nome inválido</small>
      </div>
  
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control"
         name="email" formControlName="email" />
         <small *ngIf="formGroup.controls.email.dirty && formGroup.controls.email.errors" id="emailHelp" class="form-text text-muted">Email inválido</small>
      </div>
  
      <div class="form-group">
        <label>Telefone</label>
        <input type="text" class="form-control"
         name="telefone" formControlName="telefone" />
         <small *ngIf="formGroup.controls.telefone.dirty && formGroup.controls.telefone.errors" id="emailHelp" class="form-text text-muted">Telefone inválido</small>
      </div>

      <div class="form-group">
        <label>Data nascimento</label>
        <input type="text" class="form-control"
         name="datanascimento" formControlName="datanascimento" />
         <small *ngIf="formGroup.controls.datanascimento.dirty && formGroup.controls.datanascimento.errors" id="emailHelp" class="form-text text-muted">Telefone inválido</small>
      </div>

      <div class="form-group">
        <label>Senha</label>
        <input type="text" class="form-control"
         name="senha" formControlName="senha" />
         <small *ngIf="formGroup.controls.senha.dirty && formGroup.controls.senha.errors" id="emailHelp" class="form-text text-muted">Telefone inválido</small>
      </div>
  
      <div class="form-group">
        <button class="btn btn-success" [disabled]="formGroup.invalid">Cadastrar</button>
      </div>
  
    </form>
  </div>
  </div>